@model RegisterViewModel;

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="card my-2 w-25">
    <div class="card-header">
      <h4 class="card-title text-center">Kayıt Ol</h4>
    </div>
    <div class="card-body">
      <form method="post" asp-controller="Auth" asp-action="Login">
        <div class="mb-2">
          <label asp-for="FirstName" class="form-label">İsim</label>
          <input type="text" asp-for="FirstName" class="form-control" />
        </div>
        <div class="mb-2">
          <label asp-for="LastName" class="form-label">Soyisim</label>
          <input type="text" asp-for="LastName" class="form-control" />
        </div>
        <div class="mb-2">
          <label asp-for="Email" class="form-label">Email</label>
          <input type="email" asp-for="Email" class="form-control" />
        </div>
        <div class="mb-2">
          <label asp-for="Password" class="form-label">Şifre</label>
          <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="mb-2">
          <label asp-for="PasswordConfirm" class="form-label">Şifre Tekrar</label>
          <input type="password" asp-for="PasswordConfirm" class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>